<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group19_hw5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HourlyDataActivity" />
        <activity android:name=".AddCityActivity"
            android:label="Add City Activity"/>
        <activity android:name=".DetailsActivity"
            android:label="Details Activity"/>
        <activity android:name=".ViewNotesActivity"
            android:label="View Notes Activity"/>
        <activity android:name=".AddNotesActivity"
            android:label="Add Notes Activity"/>
        <activity android:name=".AndroidTabLayoutActivity"
            android:label="City Data Activity"/>
        <activity android:name=".ForecastActivity"></activity>
    </application>

</manifest>
